<template>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Blog</a>
    </div>
  </nav>
</template>

<script>
export default {};
</script>

<style scoped>

</style>
