<template>
  <article>
    <my-nav/>
    <nuxt/>
  </article>
</template>

<script>
import MyNav from '~/components/Nav.vue';

export default {
  components: {
    MyNav
  }
};
</script>

<style>

</style>
