<template>
  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <h1 class="mt-4">{{title}}</h1>
        <!-- Author -->
        <p class="lead">
          by {{author}}
        </p>
        <hr>
        <!-- Date/Time -->
        <p>Posted on {{time}}</p>
        <hr>
        <hr>
        <!-- Post Content -->
        <p>{{content}}</p>
        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea v-model="comment" class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary" @click.stop.prevent="submit()">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">{{commenter}}</h5>
            {{comment}}
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->
  </div>
</template>

<script>
import axios from '~/plugins/axios';

export default {
  layout: 'blog',
  data() {
    return {
      commenter: 'random',
      comment: 'random'
    };
  },
  methods: {
    submit() {
      axios.post('http://localhost:1337/topic/newcomment', {
        id: this.author,
        owner: this.owner,
        comment: this.comment
      });
    }
  },
  async asyncData({ params, req, query }) {
    let { data } = await axios.get('http://localhost:1337/' + params.id);
    return {
      title: data.title,
      author: req.session.user.displayName,
      owner: query.owner,
      time: data.createdAt,
      content: data.postText
    };
  }
};
</script>

<style scoped>

</style>
