<template>
  <main class="container">
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Posts</h1>
          <!-- Blog Post -->
          <div v-for="(post, index) in posts" :key="post.id" class="card mb-4">
            <div class="card-body">
              <h2 class="card-title"><a :href="'http://localhost:3000/' + post.authorId + '?owner=' + post.id">{{post.title}}</a></h2>
              <p class="card-text">{{post.subTitle}}</p>
              <Button type="button" class="btn btn-success up" @click="upVote(index)">{{post.upVotes.length}}</Button>
              <a href="#" class="btn btn-danger down" @click="downVote(index)">{{post.downVotes.length}}</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{post.createdAt}}
            </div>
          </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Side widget</h5>
            <div class="card-body">
            <a href="http://localhost:3000/newPost">
              <button class="btn btn-primary">New Post</button>
            </a>
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </main>
</template>

<script>
import axios from '~/plugins/axios';

export default {
  layout: 'blog',
  methods: {
    upVote: async function(i) {
      let { data } = await axios.put(
        'http://localhost:1337/topic/upvote?id=' +
          this.id +
          '&authorId=' +
          this.posts[i].authorId
      );
      this.posts[i].upVotes = data.count;
    },
    downVote: async function(i) {
      let { data } = await axios.put('http://localhost:1337/topic/downvote');
      this.posts[i].downVotes = data.count;
    }
  },
  async asyncData({ query, req }) {
    if (!req.session.user) {
      req.session.user = {
        id: query.id,
        displayName: query.displayName,
        token: query.accessToken
      };
    }
    let { data } = await axios.get(
      'http://localhost:1337/topic/posts?limit=50'
    );
    return {
      id: req.session.user.id,
      posts: data
    };
  },
  head() {
    return {
      title: 'Feed'
    };
  }
};
</script>

<style scoped>
.up {
  margin-right: 1%;
}
</style>
