<template>
  <div class="container">
  <form>
    <div class="form-group">
      <label for="title"><strong>Title</strong></label>
      <input type="text" class="form-control" v-model="title" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="subTitle"><strong>SubTitle</strong></label>
      <input type="text" class="form-control" v-model="subTitle" placeholder="subTitle">
    </div>
    <div class="card my-4">
            <h5 class="card-header">Content</h5>
            <div class="card-body">
                <div class="form-group">
                  <textarea v-model="postText" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" @click.prevent.stop="submit()">Submit</button>
            </div>
      </div>
  </form>
</div>
</template>

<script>
import axios from '~/plugins/axios';

export default {
  layout: 'blog',
  data() {
    return { title: '', subTitle: '', postText: '' };
  },
  methods: {
    submit() {
      axios.post('http://localhost:1337/topic/newpost', {
        id: this.authorId,
        title: this.title,
        subTitle: this.subTitle,
        postText: this.postText
      });
    }
  },
  asyncData({ req }) {
    return {
      authorId: req.session.user.id,
      token: req.session.user.token
    };
  },
  head() {
    return {
      title: 'New Post'
    };
  }
};
</script>

<style scoped>

</style>
